.userDashMain{
  height: 50%;
  width: 50%;
  background-color: white;
  justify-self: center;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weekDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;

}


.weeksDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}

.weekDataDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 9px;
  text-align: center;
}