.userDashMain{
  height: 50%;
  width: 50%;
  background-color: white;
  justify-self: center;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.weeksDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.weekDataDiv{
  
}